<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="author" content="@nitriques" />
	<meta name="copyrights" content="Deux Huit Huit" />

	<title>{{ package.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />

	<style type="text/css">
		{% block css %}{% endblock %}
	</style>
</head>
<body>
	<div id="main">
		<header class="container">
			<h1>{{ package.title }}</h1>
		</header>

		{% block body %}{% endblock %}

		<footer class="navbar navbar-fixed-bottom">
			<div class="container">&copy; 2014
				<a href="https://deuxhuithuit.com/" target="_blank">Deux Huit Huit</a>
				v{{ package.version }}
			</div>
		</footer>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

	<script>
		(function ($, _) {
			{% block js %}{% endblock %}
		})(jQuery, _);
	</script>
</body>
</html>