{% extends "layouts/default.html" %}

{% block css %}
	.index {
		font-size: 16px;
	}
	.index .btn-lg {
		margin: 10px auto;
		font-size: 26px;
	}
{% endblock %}

{% block body %}
<div class="index">
	{% if error %}
	<div class="container">
		<div class="alert alert-danger" role="alert">
			<p>
				{{ error }}
			</p>
		</div>
		<a href="/" class="btn btn-sm btn-primary">Refresh</a>
	</div>
	{% else %}
	<div class="container">
		<div class="panel panel-primary">
			<div class="container panel-body">
				<div class="row">
					<label class="col-xs-3 col-md-2">Version: <span>{{ version }}</span></label>
					<label class="col-xs-3 col-md-2">Voltage: <span>{{ voltage }}</span></label>
					<label data-prop="temperature" class="col-xs-3 col-md-2">Temperature: <span>{{ temp }}</span></label>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<button class="btn btn-lg btn-success" data-cmd="on" data-param="0">
					<span>ALL</span>
					<i>ON</i>
				</button>
			</div>
			<div class="col-xs-6 col-sm-3">
				<button class="btn btn-lg btn-danger" data-cmd="off" data-param="0">
					<span>ALL</span>
					<i>OFF</i>
				</button>
			</div>
		</div>
		<div class="row">
			{% for pos, s in states %}
				<div class="col-xs-6 col-sm-3">
					<button class="btn btn-lg btn-{{ 'success' if s else 'danger' }}"
						data-cmd=""
						data-param="{{ pos }}">
						<span>#{{ pos }}</span>
						<i>{{ 'ON' if s else 'OFF' }}</i>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div class="container">
		<small class="row">
			request time {{ end - start }}
		</small>
	</div>
</div>
{% endblock %}

{% block js %}
	var DISABLED = 'disabled';

	$.fn.disable = function () {
		return $(this).attr(DISABLED, DISABLED).addClass(DISABLED);
	};
	
	$.fn.enable = function () {
		return $(this).removeAttr(DISABLED).removeClass(DISABLED);
	};

	$.fn.save = function () {
		return $(this).each(function () {
			var t = $(this);
			t.data('class', t.attr('class'));
		});
	};

	$.fn.restore = function () {
		return $(this).each(function () {
			var t = $(this);
			t.attr('class', t.data('class'));
		});
	};

	var btns = $('[data-cmd]');
	var toggles = btns.filter('[data-cmd=""]');
	var isRunning = false;
	var sendCmd = function (cmd, param) {
		if (!!isRunning) {
			return null;
		}
		btns.disable();
		isRunning = true;
		return $.post('/api/' + cmd + '/' + param)
		.always(function () {
			isRunning = false;
			btns.enable();
		});
	};

	var click = function (e) {
		var t = $(this);
		var stack = t;
		var cmd = t.attr('data-cmd');
		var param = t.attr('data-param');
		var hasCmd = !!cmd;
		if (!hasCmd) {
			cmd = t.is('.btn-success') ? 'off' : 'on';
		} else {
			stack = toggles;
		}

		var promise = sendCmd(cmd, param);
		if (!promise) {
			return;
		}

		stack.save().removeClass('btn-success btn-danger')
			.addClass('btn-warning');

		promise.done(function (data) {
			stack.removeClass('btn-warning')
				.addClass('btn-' + (cmd === 'on' ? 'success' : 'danger'));
			stack.find('i').text(cmd.toUpperCase());
			console.log(data);
		})
		.error(function (err) {
			stack.restore();
			console.dir(err);
			var text = err.responseText;
			try {
				text = JSON.parse(text);
			} catch (e) {}
			alert(text.message || text);
		});
	};

	var init = function () {
		btns.on('click', click);
	};

	$(init);

{% endblock %}
